:root {
    --white: #F6F6F6;
    --red: #BA3E2D;
    --blue: #35374B;
    --black: #000000;
}

img {
    max-width: 80vw;
    height: auto;
}

/* <!--typography --> */
h1, h2, h3 {
  font-family: "Stardos Stencil", system-ui;
  font-weight: 400;
  font-style: normal;
}

p {
    font-family: 'Sometype Mono', monospace;
    font-size: 16px;
    line-height: 31px;
    color:black;
    max-width: 75ch;
}

h1 {
    font-family: "Stardos Stencil", system-ui;
    font-size: 36px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    
}
h2 {
    font-family: "Stardos Stencil", system-ui;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    
}
h3 {
    font-family: "Stardos Stencil", system-ui;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

body {
  background-image: url(Website-photos/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 70%;
    margin: 0 auto;
}

.images {
    width: 100%;
    height: auto;
}

.videos {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
    height: 80vh; 
}

/* Cards */
.card {
    width: 500px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    color:#F6F6F6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dyatlov-bg {
    background: linear-gradient(90deg,rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%), url(Website-photos/hikers.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.decoration {
    text-decoration: none;
    transition: transform 0.5s ease;
}

.decoration:hover, .decoration:focus {
    transform: scale(1.1);
}