:root {
    --white: #F6F6F6;
    --red: #BA3E2D;
    --blue: #35374B;
    --black: #000000;
}

img {
    max-width: 80vw;
    height: auto;
}

/* <!--typography --> */
h1, h2, h3 {
  font-family: "Stardos Stencil", system-ui;
  font-weight: 400;
  font-style: normal;
}

p {
    font-family: 'Sometype Mono', monospace;
    font-size: 16px;
    line-height: 31px;
    color:black;
    margin: 0 15%;
}

h1 {
    font-family: "Stardos Stencil", system-ui;
    font-size: 36px;
    font-weight: 400;
    font-style: normal;
    margin: 0 15%;
    
}
h2 {
    font-family: "Stardos Stencil", system-ui;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    margin: 0 15%;
}
h3 {
    font-family: "Stardos Stencil", system-ui;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    margin: 0 15%;
}

body {
  background-image: url(Website-photos/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  
}

.images {
    display: block;
    margin-left: auto;
    margin-right: auto;
}